<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="app.js"></script>

    <title>Reindeer Search</title>
</head>
<body>
    <h1>Reinsdyr database</h1>
    </form>
    <div id="search-results"></div>
    <a href="search">Søk</a>
    <a href="kart">Kart</a>
    <a href='om'>About</a>
</body>
</html>
