<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>

    <h1>Kart Over Sameland</h1>
    <a href="/">Hjem</a>
    <a href='om'>About</a>
    <a href="search">Søk</a>
    <img src="https://media.snl.no/media/21401/standard_samiske-spr_k.svg" alt="kart" width="900px">
  
</body>
</html>
