<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Søk i Databasen </h1>
    <form id="search-form">
        <script src="/app.js"></script>
        <script src="/server.js"></script>
        <input type="text" id="search-input" placeholder="Search for a reindeer...">
        <button type="submit">Search</button>
        <div id="search-results"></div>
        <a href="/">Hjem</a>
        <a href="kart">Kart</a>
        <a href='om'>About</a>
</body>
</html>